<footer class="row" id="footer">
	<section id="contact">

{% if page.lang == "en" %}
		<h3>Contact</h3>
		 <span><b>email:</b>&nbsprecycling@coop.ge</span>
		 <span><b>Wilhelm&nbspRouenhoff</b>&nbsp&nbsp&nbsp592&nbsp98&nbsp44&nbsp99<br /><i>Director</i></span>
		 <span id="last"><b>Maia&nbspGogiladze</b>&nbsp&nbsp&nbsp598&nbsp89&nbsp02&nbsp69<br /><i>Head&nbspof&nbspMarketing</i> </span>
{% else %}
		<h3>კონტაქტი</h3>
		 <span><b>ელ–ფოსტა:</b>&nbsprecycling@coop.ge</span>
		 <span><b>ვილჰელმ&nbspროუენჰოფი</b>&nbsp&nbsp&nbsp592&nbsp98&nbsp44&nbsp99<br /><i>დირექტორი</i></span>
		 <span id="last"><b>მაია&nbspგოგილაძე</b>&nbsp&nbsp&nbsp598&nbsp89&nbsp02&nbsp69<br /><i>მარკეტინგის&nbspხელმძღვანელი</i> </span>
{% endif %}

		 <a href="https://www.facebook.com/coopgeorgia" target="blank">
		 	<span id="fb-link">
		 		<img width="36px" height="36px" style="align:left" src="{{ site.baseurl }}/assets/images/facebook.png">
		 	</span>
		 </a>
		 <!--<a href="https://twitter.com/coopgeorgia" target="blank">
		 	<span id="twitter-link">
		 		<img width="36px" height="36px" style="align:left" src="{{ site.baseurl }}/assets/images/twitter.png">
		 	</span>
		 </a>-->

	</section>
</footer>