body:lang(ka){
	font-size: 13px;
}
h2:lang(ka){
	font-size: 24px;
}
p:lang(ka){
	font-size: 13px;
}

b{
	font-family: 'source_sans_prosemibold';
}

.frozen-bar {
	width: 95px;
	position: fixed;
	background: #f3f5ed;
	top: 0px;
	bottom: 0px;
	z-index: 1000;
}

.logo {
	background: #f3f5ed url('../images/logo.png') no-repeat center;
	width: 160px;
	height: 160px;
	box-sizing: border-box;
	border-radius: 50%;
	margin-top: 12px;
	margin-bottom: 15px;
	margin-left: 12px;
}

li {
	list-style: none;
}

#menu {
	text-align: center;
	font-family: 'source_sans_proregular';
	font-size: 14px;
	line-height: 1.1;
}

#menu:lang(ka){
  font-family: 'dejavu_sans_condensed';
  font-size: 12px;
}

#menu li {
	opacity: 0.7;
}

#menu li a {
	color: #cb7320;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
}

#menu li:hover, #menu li:active {
	background-color: #e7ebd9;
	opacity: 1;
}

#menu li:hover a, #menu li:active a {
	color: #cb7320;
	text-decoration: none;
}

#menu li#services{
  position: relative;
}

#menu li#services > div{
  position: absolute;
  width: 300px;
  height: 75px;
  top: 0;
  left: -300px;
  padding-left: 5px;
	opacity: 0;
  transition: all 0.5s ease;
}
#menu li#services > div > ul{
  height: 75px;
  padding-left: 0;
	background: #eff1e4;
}
#menu li#services > div.active{
  left: 95px;
	opacity: 1;
}
#menu li#services > div > ul > li{
  display: inline-block;
  width: 95px;
	background: #eff1e4;
  vertical-align: bottom;
}
#menu li#services > div > ul > li:hover, #menu li#services > div > ul > li:active {
	background: #eff1e4;
	opacity: 1;
}

#menu li#services > div > ul > li > div{
  position: relative;
}
#menu li#services > div > ul > li a{
	padding-top: 18px;
}

#menu li#services > div > ul > li:hover > div:after, #menu li#services > div > ul > li:active > div:after{
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	position: absolute;
	top: 0;
	left: 37.5px;
	content: "";
}

#menu li#services > div > ul > li:nth-child(2):hover > div:after, #menu li#services > div > ul > li:nth-child(2):active > div:after{
	top: -3px;
}
#menu li#services > div > ul > li:nth-child(3):hover > div:after, #menu li#services > div > ul > li:nth-child(3):active > div:after{
	top: -1px;
}

.icon-home:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 0;
	margin-bottom: 5px;
	width: 22px;
	height: 20px;
}

.icon-about:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -21px;
	margin-bottom: 5px;
	width: 24px;
	height: 23px;
}

.icon-what:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -281px;
	margin-bottom: 5px;
	width: 17px;
	height: 25px;
}

.icon-blog:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -45px;
	margin-bottom: 5px;
	width: 24px;
	height: 18px;
}

.icon-services:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -64px;
	margin-bottom: 5px;
	width: 25px;
	height: 24px;
}

.icon-partners:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -89px;
	margin-bottom: 5px;
	width: 31px;
	height: 20px;
}

.icon-involved:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -110px;
	margin-bottom: 5px;
	width: 21px;
	height: 27px;
}

.icon-gear:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -138px;
	margin-bottom: 5px;
	width: 34px;
	height: 18px;

}

.icon-for-business:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -205px;
	margin-bottom: 5px;
	width: 8px;
	height: 28px;

}

.icon-for-home:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -234px;
	margin-bottom: 9px;
	width: 19px;
	height: 21px;

}

.icon-for-schools:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -256px;
	margin-bottom: 7px;
	width: 21px;
	height: 25px;

}

#menu li.active {
	background-color: #e7ebd9;
	opacity: 1;
}

#language {
	position: fixed;
	bottom: 15px;
	left: 12px;
}

#language a {
	color: #869a4b;
	opacity: 0.8;
	font-size: 12px;
	text-decoration: none;
}

#language a:hover, #language a:active {
	opacity: 1;
}

#header {
	background: url('../images/header_bg.jpg') no-repeat content-box center;
	background-size: cover;
	height: 188px;
	padding-left: 95px;
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#header #slogan {
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	width: 50%;
	height: 188px;
	right: 0;
	text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#header #slogan h1 {
	position: relative;
	display: inline-block;
	text-align: left;
	color: #778c38;
	font-family: 'source_sans_proextralight';
	line-height: 1.1;
	font-size: 2.0em;
	margin: 0 auto;
/*	width: 370px;*/
	height: 50px;
	margin-top: 50px;
	opacity: 1.0;
	filter: alpha(opacity=100);
	/*display: table-cell;
	vertical-align: middle;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


#header.home {
	background: url('../images/header_bg.jpg') no-repeat content-box center;
	background-size: cover;
	height: 360px;
	padding-left: 95px;
	position: fixed;
	top: 0;
	left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

#header.home #slogan {
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	width: 50%;
	height: 360px;
	right: 0;
	text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#header.home #slogan h1 {
	position: relative;
	display: inline-block;
	text-align: left;
	color: #778c38;
	font-family: 'source_sans_proextralight';
	line-height: 1.1;
	font-size: 2.6em;
	margin: 0 auto;
/*	width: 370px;*/
	height: 80px;
	margin-top: 130px;
	opacity: 1.0;
	filter: alpha(opacity=100);
	/*display: table-cell;
	vertical-align: middle;*/
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}


/* Sticky footer */
#footer {
/*	bottom: 0;
	position: absolute;*/
}

html {
  position: relative;
  min-height: 100%;
}
body .container-fluid {
  margin-bottom: 120px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 114px;
}

#footer #contact {
	background: url('../images/nav-icons.png') no-repeat 0 -174px;
	height: 30px;
	margin-left: 20px;
	padding-left: 11px;
}

#footer #contact > h3 {
	font-family: 'source_sans_prolight';
	font-size: 24px;
	color: #232323;
	letter-spacing: 1.4px;
	line-height: 1.3;
}

#footer #contact span  {
	display: inline-block;
	vertical-align:top;
    letter-spacing: auto;
    font-family: 'source_sans_prolight';
    font-size: 16px;
    line-height: 1;
    margin-right: 25px;
    padding-bottom: 20px;
}

#last {
	margin-right: 0 !important;
}

#contact > span > i {
	font-family: 'source_sans_proitalic';
	font-style: normal;
}

#footer #fb-link {
    right:55px; 
    position:absolute;
}
#footer #twitter-link {
    right:10px; 
    position:absolute;
}

#main-content{
  padding: 20px;
  font-family: 'source_sans_proregular';
}

#header + #main-content{
  margin-top: 188px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#header.home + #main-content{
  margin-top: 360px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#main-content a{
  color: #cb7320;
}

/* home */
.home-page{
  font-family: 'source_sans_prolight' !important;
}
#home-service-links > div{
/*  padding: 0 20px;*/
} 
#home-service-links ul{
  padding-left: 0;
}
#home-service-links ul li{
  display: inline-block;
  margin-right: 5px;
  line-height: 30px;
  margin-bottom: 5px;
}
#home-service-links:lang(ka) ul li{
	font-size: 12px;
}
#home-service-links ul li:last-of-type{
  margin-right: 0;
}
#home-service-links ul li a{
  border-radius: 5px;
  border: solid 1px #cb7320;
  padding: 5px 10px;
}
#home-bins{
  background-color: #f5dd7d;
  text-align: left;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
  border-left: solid 5px #ecbc00;
}
#home-bins img{
  max-width: 650px;
  width: 100%;
}
#home-bins:after{
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #fff;
	position: absolute;
	top: 105px;
	left: -5px;
	content: "";
}
#home-what-recycling{
  font-family: 'source_sans_proregular';
  background-color: #acc563;
  color: #fff;
  margin-left: -20px !important;
  margin-right: 20px !important;
}
#home-what-recycling:before {
  content: "";
  position: absolute;
  bottom: 0; 
  right: 0;
  border-top: 55px solid transparent;
  border-right: 55px solid;
  width: 0;
}
#home-what-recycling > div{
 padding: 40px 23px 0px 23px;
}
#home-what-recycling h3{
  margin-top: 0;
  font-family: 'source_sans_proextralight'; 
  font-weight: bold;
}
#home-what-recycling:lang(ka) h3{
  font-weight: normal;
  font-size: 20px;
}
#home-what-recycling a{
  color: #fff;
}
#home-blog{
  padding-left: 27px;
  border-bottom: solid 1px #ecbc00;
  padding-bottom: 10px;
}
#home-blog #blog-items{
  padding-left: 0;
}
#home-blog #blog-items li {
  font-family: 'source_sans_prolight';
  margin-bottom: 3px;
}
#home-blog #blog-items li a{
  display: block;
  color: #000;
  margin-bottom: -5px;
}
#home-blog #blog-items li span{
  color: #cb7320;
  font-family: 'source_sans_proitalic';
}
#home-how{
  margin-top: 10px;
  margin-bottom: 20px;
}
#home-how h3{
  font-family: 'source_sans_prolight';
}
#home-how ol{
  list-style-type: none;
  counter-reset: home-counter;
  padding-left: 6px;
  margin-left: 2px;
  border-left: solid 2px #a6b37d;
  padding-top: 25px;
  margin-bottom: 0;
}
#home-how ol{
  position: relative;
}
#home-how:lang(ka) li{
	font-size: 13px;
}

#home-how ol:after{
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/how_big.png') no-repeat;
	width: 690px;
	height: 105px;
	position: absolute;
	top: 50px;
	left: 244px;
}
#home-how:lang(ka) ol:after{
	left: 284px;
	background-size: 552px 84px;
}
@media (max-width: 1100px) {
  #home-how ol{
    margin-bottom: 250px;
  }
  #home-how ol:after{
	  content: "";
	  display:block; 
	  margin: 0px auto;
	  background: url('../images/how_small.png') no-repeat;
	  width: 298px;
	  height: 235px;
	  position: absolute;
	  top: 233px;
	  left: 20px;
  }
}

#home-how ol li{
  position: relative;
  padding-left: 15px;
  min-height: 40px;
  font-size: 16px;
}
#home-how ol > li:before {
  content: counter(home-counter);
  counter-increment: home-counter;
  font-family: 'source_sans_probold';
  position: absolute;
  top: -5px;
  left: -23px;
  width: 32px;
  height: 32px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: solid 2px #fff;
  background-color: #ecbc00;
  z-index: 500;
}

/*#home-message {
    border-top: solid 1px #ecbc00;
    margin-top: 20px;
    margin-bottom: 20px;
}*/

/* about page */
.about-team-header h2{
	color: #cb7320;
	font-family: 'source_sans_proextralight';
	border-bottom: solid 1px #cb7320;
	padding-bottom: 5px;
}
.team-member{
  margin-bottom: 20px;
}
.team-member h3{
  font-family: 'source_sans_probold';
  margin-top: 0;
}
.team-member h5{
  margin-top: 20px;
  margin-bottom: 3px;
}
.team-member div:last-of-type{
  text-align: left;
  position: relative;
}
.team-member div:last-of-type:after{
	width: 0; 
	height: 0; 
	border-top: 27px solid transparent;
	border-bottom: 27px solid transparent;
	border-left: 27px solid #fff;
	position: absolute;
	top: 80px;
	left: 0;
	content: "";
}
.team-member div:last-of-type img{
  height: 215px;
}
/* blog page */
#blog-container > div:first-of-type{
  border-right: solid 1px #cb7320;
}
#blog-container .blog-item{
  padding-left: 0;
  border-bottom: solid 1px #eee;
  padding: 20px 0;
  margin-right: 20px;
}
#blog-container .blog-item:last-of-type{
  border-bottom: none;
}
#blog-container .blog-item .blog-date{
  text-align: center;
}
#blog-container .blog-item .blog-date span{
  display: block;
  color: #778c38;
}
#blog-container .blog-item .blog-date span:first-of-type{
  font-size: 18px;
}
#blog-container .blog-item h2{
  margin-top: 0;
  font-family: 'source_sans_proregular';
}
#blog-container .blog-item .continue-reading a{
  font-family: 'source_sans_proitalic';
}
#blog-container #blog-tags {
  border-bottom: solid 1px #eee;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
#blog-container #blog-tags h3, #blog-container #blog-popular-posts h3{
  font-family: 'source_sans_probold';
  font-size: 18px;
}
#blog-container #blog-tags ul{
  padding-left: 0;
}
#blog-container #blog-tags ul li{
  display: inline-block;
  margin: 0 3px;
}
#blog-container #blog-tags ul li a{
  font-family: 'source_sans_prolight';
  color: #333;
}
#blog-container #blog-tags ul li a:hover, #blog-container #blog-tags ul li a:active{
  color: #cb7320;
}
#blog-container #blog-popular-posts .popular-post-item h4{
  margin-bottom: 0;
}
#blog-container #blog-popular-posts .popular-post-item h4 a{
  font-family: 'source_sans_prolight';
  color: #666;
  font-weight: bold;
  font-size: 16px;
}
#blog-container #blog-popular-posts .popular-post-item h4 a:hover, #blog-container #blog-popular-posts .popular-post-item h4 a:active{
  color: #cb7320;
}
#blog-container #blog-popular-posts .popular-post-item p{
  font-family: 'source_sans_prolight';
  font-size: 14px;
}
/* get involved */
#get-involved-row1 h2, #get-involved-row2 h2{
  color: #cb7320;
  font-family: 'source_sans_proextralight';
  font-weight: bold;
  border-bottom: solid 1px #cb7320;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
#get-involved-row1:lang(ka) h2, #get-involved-row2:lang(ka) h2{
	font-weight: normal;
}
#get-involved-row2 div#get-involved-image-box{
  max-width: 885px;
  position: relative;
}
#get-involved-row2 div#get-involved-image-box img{
  max-width: 100%;
}
#get-involved-row2 div#get-involved-image-box p{
  position: absolute;
  bottom: -1px;
  font-family: 'source_sans_probold';
  background-color: rgba(245,221,125, 0.7);
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
}
/* for schools*/
.service-school-header{
  border-bottom: solid 1px #cb7320;
  margin-bottom: 20px;
}
.service-school-header h2{
  color: #cb7320;
  font-family: 'source_sans_proextralight';
  margin-top: 0;
}
.service-school-header h2 span{
	display:inline-block; 
  position: absolute;
  top: -2px;
}
.service-school-header h2:before{
	content: "";
	display:inline-block; 
	background: url('../images/nav-icons.png') no-repeat 0 -256px;
	width: 21px;
	height: 25px;
	margin-right: 4px;
}
/* for business*/
.service-business-header{
  border-bottom: solid 1px #cb7320;
}
.service-business-header h2{
  color: #cb7320;
  font-family: 'source_sans_proextralight';
  margin-top: 0;
  padding-top: 8px;
}
.service-business-header h2 span{
	display:inline-block; 
  position: absolute;
  top: 4px;
}
.service-business-header h2:before{
	content: "";
	display:inline-block; 
	background: url('../images/nav-icons.png') no-repeat 0 -205px;
	width: 8px;
	height: 28px;
	margin-right: 4px;
}
.service-business-header > div:last-of-type{
  font-size: 18px;
}
.service-business-header > div:last-of-type p{
  margin-bottom: 0;
}
.service-business-header > div:last-of-type span{
  color: #778c38;
}
.service-business-header > div:last-of-type b{
  font-family: 'source_sans_probold';
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  margin-top: -7px;
}
.service-business-how h3{
  font-family: 'source_sans_prolight';
}
.service-business-how ol{
  list-style-type: none;
  counter-reset: business-counter;
  padding-left: 6px;
  margin-left: 20px;
  font-family: 'source_sans_proitalic';
  border-left: solid 2px #a6b37d;
  padding-top: 25px;
  margin-bottom: 0;
}
.service-business-how ol li{
  position: relative;
  padding-left: 10px;
  min-height: 40px;
  font-size: 18px;
}
.service-business-how:lang(ka) ol li{
	font-size: 16px;
}
.service-business-how ol > li:before {
  content: counter(business-counter);
  counter-increment: business-counter;
  font-family: 'source_sans_probold';
  position: absolute;
  top: -5px;
  left: -23px;
  width: 32px;
  height: 32px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: solid 2px #fff;
  background-color: #a6b37d;
  z-index: 500;
}
.service-business-how ol li:nth-child(1):after{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat 0 0;
	width: 233px;
	height: 97px;
  margin-left: 50px;
  position: absolute;
  top: -50px;
}
.service-business-how ol li:nth-child(1):lang(ka):after{
	background: url('../images/services-icons.png') no-repeat 0 -590px;
	width: 233px;
	height: 97px;
}

.service-business-how ol li:nth-child(2){
  padding-left: 110px;
  margin: 35px 0;
}
.service-business-how ol li:nth-child(2):after{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat 0 -98px;
	width: 80px;
	height: 100px;
  position: absolute;
  top: -42px;
  left: 15px;
}
.service-business-how ol li:nth-child(3){
  margin-bottom: 40px;
}
.service-business-how ol li:nth-child(3):after{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat -158px -98px;
	width: 77px;
	height: 80px;
  position: absolute;
  top: -30px;
  margin-left: 15px;
}
.service-business-how ol li:nth-child(4){
  margin-bottom: 40px;
}
.service-business-how ol li:nth-child(4):after{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat 0 -200px;
	width: 160px;
	height: 66px;
  position: absolute;
  top: -30px;
  margin-left: 15px;
}
.service-business-how ol li:nth-child(5):after{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat 0 -266px;
	width: 142px;
	height: 142px;
  position: absolute;
  top: -62px;
  margin-left: 55px;
}
.service-business-call{
  margin: 65px 0 45px -35px !important;
}
.service-business-call > div:first-of-type{
  background-color: #acc563;
  color: #fff;
  padding: 45px;
  position: relative;
}
.service-business-call > div:first-of-type:before {
  content: "";
  position: absolute;
  bottom: 0; 
  right: 0;
  border-top: 55px solid transparent;
  border-right: 55px solid;
  width: 0;
}
.service-business-call > div:first-of-type > div > p{
  font-weight: bold;
  margin-bottom: 0;
}
.service-business-call > div:first-of-type > div > p:first-of-type{
  font-size: 22px;
}
.service-business-call > div:first-of-type > div > p:first-of-type span{
  font-family: 'source_sans_proextralight';
}
.service-business-call > div:first-of-type > div > p:last-of-type{
  font-size: 18px;
  position: relative;
  margin-left: 30px;
}
.service-business-call > div:first-of-type > div > p:last-of-type:before{
	content: "";
	display:inline-block; 
	background: url('../images/phone_icon.png') no-repeat;
	width: 25px;
	height: 24px;
  position: absolute;
  top: 0;
  left: -30px;
}
.service-business-faq h3{
	color: #cb7320;
    font-family: 'source_sans_probold';
	border-bottom: solid 1px #cb7320;
	padding-left: 15px;
	padding-bottom: 5px;
}

/* gear page */
.gear-row {
    margin-bottom: 15px;
    margin-top: 10px;
    padding-right: 100px;
}
.gear-row h4{
    color: #cb7320;
    font-family: 'source_sans_probold';
}
.gear-row h5{
    color: #778c38;
    font-family: 'source_sans_probold';
}
.gear-pic {
    width:225px;
    height:225px;
    margin: 0px 10px 0px 0px;
}

.gear-pic:lang(ka) {
    margin: 8px 10px 8px 0px;   
}

/* for home*/
.service-home-header{
  border-bottom: solid 1px #cb7320;
}
.service-home-header h2{
  color: #cb7320;
  font-family: 'source_sans_prolight';
  margin-top: 0;
  padding-top: 8px;
}
.service-home-header h2 span{
	display:inline-block; 
  position: absolute;
  top: 4px;
}
.service-home-header h2:before{
	content: "";
	display:inline-block; 
	background: url('../images/nav-icons.png') no-repeat 0 -234px;
	width: 19px;
	height: 21px;
	margin-right: 4px;
}
.service-home-header > div:last-of-type{
  font-size: 18px;
}
.service-home-header > div:last-of-type p{
  margin-bottom: 0;
}
.service-home-header > div:last-of-type span{
  color: #778c38;
}
.service-home-header > div:last-of-type b{
  font-family: 'source_sans_probold';
  text-transform: uppercase;
  font-size: 25px;
  display: block;
  margin-top: -7px;
}
.service-home-how h3{
  font-family: 'source_sans_prolight';
}
.service-home-how ol{
  list-style-type: none;
  counter-reset: home-counter;
  padding-left: 6px;
  margin-left: 20px;
  font-family: 'source_sans_proitalic';
  border-left: solid 2px #a6b37d;
  padding-top: 25px;
  margin-bottom: 0;
}
.service-home-how ol li{
  position: relative;
  padding-left: 10px;
  min-height: 10px;
  font-size: 18px;
}
.service-home-how:lang(ka) ol li{
	font-size: 16px;
}
.service-home-how ol > li:before {
  content: counter(home-counter);
  counter-increment: home-counter;
  font-family: 'source_sans_probold';
  position: absolute;
  top: -5px;
  left: -23px;
  width: 32px;
  height: 32px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: solid 2px #fff;
  background-color: #a6b37d;
  z-index: 500;
}
.service-home-how ol > li:last-of-type:before {
  top: 10px;
}
.service-home-how ol li:first-of-type{
  margin-bottom: 50px;
}
.service-home-how ol li:first-of-type:after{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat 0 -418px;
	width: 208px;
	height: 85px;
  margin-left: 64px;
  position: absolute;
  top: -30px;
}
.service-home-how ol li:first-of-type:lang(ka):after{
	background: url('../images/services-icons.png') no-repeat 0 -504px;
	width: 208px;
	height: 86px;
}
.service-home-faq h3{
	color: #cb7320;
  font-family: 'source_sans_probold';
	border-bottom: solid 1px #cb7320;
	padding-left: 15px;
	padding-bottom: 5px;
}
#service-home-map-container{
  position: relative;
}
#service-home-map{
  height: 300px;
  margin-bottom: 50px;
  border-bottom: solid 3px #acc563;
  margin-left: -35px;
  margin-right: -35px;
}
#service-home-map-container #service-home-map-icon{
	display:inline-block; 
	background: #fff;
	width: 100px;
	height: 100px;
  position: absolute;
  top: 100px;
  left: -35px;
  z-index: 998;
  border-top: solid 2px #acc563;
  border-bottom: solid 2px #acc563;
}
#service-home-map-container #service-home-map-icon:before{
	content: "";
	display:inline-block; 
	background: url('../images/services-icons.png') no-repeat -166px -188px #fff;
	width: 68px;
	height: 78px;
  position: absolute;
  top: 10px;
  left: 20px;
}
#service-home-map-container #service-home-map-icon-arrow{
	content: "";
	position: absolute;
	top:114px;
	left:29px;
  z-index: 997;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
  -moz-transform: rotate(45deg); /* Firefox */
  background-color:#fff;
  width:72px;
  height:72px;
  -webkit-border-radius: 0 20px 0 0;
  -moz-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
  border: solid 2px #acc563;
}
/*
#service-home-map-container #service-home-map-icon:after{
	content: "";
  width: 0; 
	height: 0; 
	border-top: 52px solid transparent;
	border-bottom: 52px solid transparent;
	border-left: 52px solid #acc563;
	position: absolute;
	top:0;
	right:-50px;
}
*/
/* faq */
.faq-item .faq-question{
  font-family: 'source_sans_prosemibold';
  margin-bottom: 3px;
}
.faq-item .faq-question:lang(ka){
	font-weight: bold;
}
.faq-item .faq-answer{
	font-family: 'source_sans_prolight';
  margin-bottom: 20px;
}
.faq-item ul.faq-answer{
  padding-left: 10px;
}
.faq-item ul.faq-answer li:before{
	content: "- ";
}

/* partners */
.partner-header{
  border-bottom: solid 1px #cb7320;
  margin-bottom: 20px;
}
.partner-header h2{
  color: #cb7320;
  font-family: 'source_sans_proextralight';
  font-weight: bold;
  margin-top: 0;
  padding-top: 8px;
}
.partner-header:lang(ka) h2{
	font-weight: normal;
}

/* what is recycling */
.what-header{
  border-bottom: solid 1px #cb7320;
  margin-bottom: 20px;
}
.what-header h2{
  color: #cb7320;
  font-family: 'source_sans_proextralight';
  font-weight: bold;
  margin-top: 0;
  padding-top: 8px;
}
.what-header:lang(ka) h2{
	font-weight: normal;
}
.what-content ul{
  padding-left: 25px;
}
.what-content li{
  list-style: disc;
}
