<!DOCTYPE html>
<html lang="ka">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Us | coop.ge</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/stylesheet.css" type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css" />
<! 		<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" href="/assets/css/iphone.css" type="text/css" />
		<link rel="stylesheet" media="screen and (max-width: 480px) and (min-width : 320px)" href="/assets/css/iphone.css"  type="text/css" />
		<link rel="stylesheet" media="screen and (max-width: 1024px) and (min-width: 481px), only screen and (min-device-width : 768px) and (max-device-width: 1024px)" href="/assets/css/ipad.css"  type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

	  <meta property="og:title" content="About Us | coop.ge" />
    <meta name="description" content="">
		<meta property="og:description" content="" />
	  <meta property="og:type" content="non_profit" />
	  <meta property="og:url" content="" />
    <meta property="og:image" content="http://coop.ge/images/fb.png" />
	  <meta property="og:site_name" content="coop.ge" />

    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	</head>
	<body ontouchstart="">
		<div class="frozen-bar">
			<div class="logo"></div>
			
			<div id="menu-wrapper">
				<a href="#"></a>
				<nav id="menu">
					<li> <a href="/ka" class="icon-home">მთავარი</a> </li>
					{% if page.section == "about" %} <li class="active"> {% else %} <li> {% endif %}
						<a href="/ka/about" class="icon-about">ჩვენს შესახებ</a> </li>
					{% if page.section == "recycling" %} <li class="active"> {% else %} <li> {% endif %}
						<a href="/ka/recycling" class="icon-what">რა არის ნაგვის <br />გადამუშავება?</a> </li>
					<!--<li> <a href="/en/blog" class="icon-blog">News/Blog</a> </li>-->
					{% if page.section == "services" %} <li id="services" class="active"> {% else %} <li id="services"> {% endif %}
						<a href="#" class="icon-services">მომსახურება</a> 
            <div>
					    <ul>
					      <li> <div><a href="/ka/services/business" class="icon-for-business">ბიზნესისთვის</a></div> </li>
					      <li> <div><a href="/ka/services/home" class="icon-for-home">სახლისთვის</a></div> </li>
					      <li> <div><a href="/ka/services/school" class="icon-for-schools">სკოლისთვის</a></div> </li>
					    </ul>
            </div>
					</li>
					{% if page.section == "partners" %} <li class="active"> {% else %} <li> {% endif %}
						<a href="/ka/partners" class="icon-partners">პარტნიორები</a> </li>
					{% if page.section == "get_involved" %} <li class="active"> {% else %} <li> {% endif %}
						<a href="/ka/get_involved" class="icon-involved">ჩაერთეთ</a> </li>
					{% if page.section == "gear" %} <li class="active"> {% else %} <li> {% endif %}
						<a href="/ka/gear" class="icon-gear">აღჭურვილობა</a>
				</nav>
			</div>
			<nav id="language">
    			<li><a href="/en/{{ page.title }}">English</a></li>
			</nav>
				
		</div>

		
		<div class="container-fluid">
			
			<!-- this is the only thing that changes on the home page !-->
			{% if page.section == "home" %}
				<div class="row" id="header-home"><li class="active">
			{% else %}
				<div class="row" id="header">
			{% endif %}

  			<div class="col-sm-12">
  				<header id="slogan">
  					<h1><b>გადაარჩიე</b> ნაგავი <br /><b>გადაარჩინე</b> ბუნება</h1>
  				</header>
  			</div>
			</div>


		{{ content }}
			
		{% include footer.html %}

		</div>


		<script src="/assets/js/jquery-1.10.2.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>



