<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Us | coop.ge</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/stylesheet.css" type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css" />
<! 		<link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" href="{{ site.baseurl }}/assets/css/iphone.css" type="text/css" />
		<link rel="stylesheet" media="screen and (max-width: 480px) and (min-width : 320px)" href="{{ site.baseurl }}/assets/css/iphone.css"  type="text/css" />
		<link rel="stylesheet" media="screen and (max-width: 1024px) and (min-width: 481px), only screen and (min-device-width : 768px) and (max-device-width: 1024px)" href="{{ site.baseurl }}/assets/css/ipad.css"  type="text/css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.css" type="text/css" />

	  <meta property="og:title" content="About Us | coop.ge" />
    <meta name="description" content="">
		<meta property="og:description" content="" />
	  <meta property="og:type" content="non_profit" />
	  <meta property="og:url" content="" />
    <meta property="og:image" content="http://coop.ge/images/fb.png" />
	  <meta property="og:site_name" content="coop.ge" />

    <link href="{{ site.baseurl }}/assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	</head>
	<body ontouchstart="">
		<div class="frozen-bar">
			<div class="logo"></div>
			
			<div id="menu-wrapper">
				<a href="#"></a>
				<nav id="menu">
					<li> <a href="{{ site.baseurl }}/{{ page.lang }}" class="icon-home">Home</a> </li>
					<li> <a href="{{ site.baseurl }}/{{ page.lang }}/about" class="icon-about">About Us</a> </li>
					<!--<li> <a href="/en/blog" class="icon-blog">News/Blog</a> </li>-->
					<li id="services"> <a href="#" class="icon-services">Recycling<br />Services</a> 
            <div>
					    <ul>
					      <li> <div><a href="{{ site.baseurl }}/{{ page.lang }}/services/business" class="icon-for-business">For Business</a></div> </li>
					      <li> <div><a href="{{ site.baseurl }}/{{ page.lang }}/services/home" class="icon-for-home">For Home</a></div> </li>
					      <li> <div><a href="{{ site.baseurl }}/{{ page.lang }}/services/school" class="icon-for-schools">For School</a></div> </li>
					    </ul>
            </div>
					</li>
					<li> <a href="{{ site.baseurl }}/{{ page.lang }}/partners" class="icon-partners">Partners</a> </li>
					<li> <a href="{{ site.baseurl }}/{{ page.lang }}/get_involved" class="icon-involved">Get Involved</a> </li>
					<li> <a href="{{ site.baseurl }}/{{ page.lang }}/gear" class="icon-gear">Gear</a>
				</nav>
			</div>
			<nav id="language">
    			{% if page.lang == 'en' %}
    				<li><a href="{{ site.baseurl }}/ka/{{ page.title }}">ქართული</a></li>
    			{% else %}
    				<li><a href="{{ site.baseurl }}/en/{{ page.title }}">English</a></li>
    			{% endif %}
			</nav>
				
		</div>

		
		<div class="container-fluid">
			
			<div class="row" id="header-home">
  			<div class="col-sm-12">
  				<header id="slogan">
  					{% if page.lang == 'en' %}
	    				<h1><b>Sort</b> Your Waste <br /><b>Protect</b> the Environment</h1>
	    			{% else %}
	    				<h1><b>გადაარჩიე</b> ნაგავი <br /><b>გადაარჩინე</b> ბუნება</h1>
	    			{% endif %}
  				</header>
  			</div>
			</div>


		{{ content }}
			
		{% include footer.html %}

		</div>


		<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
		<script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.js"></script>
		<script src="{{ site.baseurl }}/assets/js/main.js"></script>
	</body>
</html>



